---
import HandDrawnArrow from "@/components/assets/hand-drawn-arrow.astro";
import BadgeGroup from "@/components/base/badges/badge-groups.astro";
import Badge from "@/components/base/badges/badge.astro";
import Button from "@/components/base/buttons/button.astro";
import Layout from "@/components/shared/layouts/default.astro";
import { ArrowLeft, Eye, FileDownload01 } from "@untitledui/icons";
import { getEntry, render } from "astro:content";

const { slug } = Astro.params;
if (slug === undefined) {
    return Astro.redirect("/404");
}

const post = await getEntry("wiki", slug);
if (post === undefined) {
    return Astro.redirect("/404");
}

const { Content, headings } = await render(post);
---

<Layout title={post.data.title}>
    <header
        class="mx-auto max-w-7xl pt-16 pb-24 lg:px-8 px-4 flex lg:flex-row flex-col items-center justify-center gap-8"
    >
        <div class="flex flex-col gap-12">
            <Button color="link-color" href="/">
                <ArrowLeft slot="icon-leading" />
                Volver al inicio
            </Button>
            <div class="flex flex-col gap-6">
                <div class="max-w-3xl w-full flex flex-col gap-4-alpha-black">
                    <BadgeGroup
                        addonText={post.data.tags[0]}
                        color="brand"
                        size="md"
                        showIcon={false}
                    >
                        Lectura de {post.data.readingTime} minutos
                    </BadgeGroup>
                    <h1
                        class="text-display-xl font-semibold font-display text-primary"
                    >
                        {post.data.title}
                    </h1>
                </div>
                <p class="text-xl">{post.data.description}</p>
            </div>
            <div class="flex gap-3">
                <Button
                    color="secondary"
                    title="Descargar archivo Markdown"
                    href={`/raw/${post.data.slug}?download=true`}
                >
                    <FileDownload01 slot="icon-leading" className="size-5" />
                </Button>
                <Button
                    title="Descargar archivo Markdown"
                    href={`/raw/${post.data.slug}`}
                >
                    <Eye slot="icon-leading" className="size-5" />
                    Ver archivo Markdown
                </Button>
            </div>
        </div>
        <picture class="relative max-w-xl w-full aspect-3/4 bg-secondary">
            <HandDrawnArrow
                class="absolute -bottom-15 -left-1/2 lg:block hidden"
            />
            {
                post.data.image && (
                    <img
                        src={post.data.image}
                        alt={post.data.title}
                        class="size-full object-cover"
                    />
                )
            }
        </picture>
    </header>
    <section
        class="relative mx-auto max-w-7xl w-full pb-24 lg:px-8 px-4 flex gap-16"
    >
        <aside
            class="sticky top-0 self-start min-w-60 hidden lg:flex flex-col gap-8 overflow-y-auto max-h-dvh scrollbar-hide"
        >
            <hr class="border-secondary" />
            <div class="flex flex-col gap-4">
                <p class="font-semibold text-brand-tertiary">
                    Tabla de contenidos
                </p>
                <div class="flex flex-col gap-3">
                    {
                        headings.map(
                            (heading) =>
                                heading.depth < 3 && (
                                    <Button
                                        size="lg"
                                        title={heading.text}
                                        href={`#${heading.slug}`}
                                        color="link-gray"
                                        class:list={[
                                            heading.depth == 2 && "ml-4",
                                            "*:truncate",
                                        ]}
                                    >
                                        {heading.text}
                                    </Button>
                                ),
                        )
                    }
                </div>
            </div>
            <hr class="border-secondary" />
        </aside>
        <div class="flex flex-col w-full">
            <div class="prose max-w-180 w-full">
                <Content />
            </div>
            <div
                class="py-6 mt-12 flex flex-wrap gap-2 border-t border-secondary"
            >
                {
                    post.data.tags.map((tag) => (
                        <Badge type="pill-color" color="brand">
                            {tag}
                        </Badge>
                    ))
                }
            </div>
        </div>
    </section>
</Layout>
